<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Berners-lee</title>
</head>
<body background="./img/fondo.jpg">
    <h1>Berners Lee</h1>
    <h2><a href="./">[Home]</a> <a href= "./babbage">Babbage</a> <a href= "./berners-lee">Berners Lee</a> <a href= "./clarke">Clarke</a> <a href= "./hamilton">Hamilton</a> <a href= "./hopper">Hopper</a> <a href= "./lovelace">Lovelace</a> <a href= "./turing">Turing</a></h2>
    <img width="400" src="img/berners-lee.jpg" alt="Portada de Berners Lee">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, suscipit ut sed perferendis deserunt provident placeat reiciendis consequuntur, sit enim necessitatibus possimus veritatis, quod sapiente architecto voluptatum. Eos vitae porro laboriosam maxime ad nobis illum provident voluptas commodi quia, odit ducimus, aperiam aut error nulla earum. Sint saepe ducimus illum.</p>
</body>
</html>