<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clarke</title>
</head>
<body background="./img/fondo.jpg">
    <h1>Clarke</h1>
    <h2><a href="./">[Home]</a> <a href= "./babbage">Babbage</a> <a href= "./berners-lee">Berners Lee</a> <a href= "./clarke">Clarke</a> <a href= "./hamilton">Hamilton</a> <a href= "./hopper">Hopper</a> <a href= "./lovelace">Lovelace</a> <a href= "./turing">Turing</a></h2>
    <img width="400" src="img/clarke.jpg" alt="Portada de Clarke">
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex quibusdam ratione ullam voluptatibus a voluptate tempora nam ipsa consectetur. Nulla corporis natus, fugit necessitatibus assumenda libero iste quis eligendi et sapiente asperiores molestiae commodi voluptate, tenetur accusantium placeat. Praesentium, libero!</p>
</body>
</html>