<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hamilton</title>
</head>
<body background="./img/fondo.jpg">
    <h1>Hamilton</h1>
    <h2><a href="./">[Home]</a> <a href= "./babbage">Babbage</a> <a href= "./berners-lee">Berners Lee</a> <a href= "./clarke">Clarke</a> <a href= "./hamilton">Hamilton</a> <a href= "./hopper">Hopper</a> <a href= "./lovelace">Lovelace</a> <a href= "./turing">Turing</a></h2>
    <img width="500" src="img/hamilton.png" alt="Portada de Hamilton">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, quod, ducimus tempore officiis voluptatem vero aliquam consequatur, nam maxime a quae iure suscipit repellat labore dignissimos eligendi non modi numquam. Non nemo minima ratione id dolore saepe soluta eos enim, quae debitis quos nostrum animi sunt, a tempora dolorum est?/p>
</body>
</html>