<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hopper</title>
</head>
<body background="./img/fondo.jpg">
    <h1>Hopper</h1>
    <h2><a href="./">[Home]</a> <a href= "./babbage">Babbage</a> <a href= "./berners-lee">Berners Lee</a> <a href= "./clarke">Clarke</a> <a href= "./hamilton">Hamilton</a> <a href= "./hopper">Hopper</a> <a href= "./lovelace">Lovelace</a> <a href= "./turing">Turing</a></h2>
    <img width="500" src="img/hopper.jpg" alt="Portada de Hopper">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem in maxime sequi eius sint animi culpa quis hic minus aliquam! Harum beatae eveniet asperiores minus aut accusantium placeat incidunt blanditiis quaerat odit, consequuntur nihil necessitatibus quas culpa fugiat dolorum cupiditate ex distinctio aperiam sapiente ut, ad neque tempora eum! Nostrum.</p>
</body>
</html>