<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turing</title>
</head>
<body background="./img/fondo.jpg">
    <h1>Turing</h1>
    <h2><a href="./">[Home]</a> <a href= "./babbage">Babbage</a> <a href= "./berners-lee">Berners Lee</a> <a href= "./clarke">Clarke</a> <a href= "./hamilton">Hamilton</a> <a href= "./hopper">Hopper</a> <a href= "./lovelace">Lovelace</a> <a href= "./turing">Turing</a></h2>
    <img width="320" src="img/turing.jpg" alt="Portada de Turing">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur eveniet temporibus magnam nobis quos cumque sit distinctio voluptates aliquid tenetur, minus ex aliquam veniam molestiae quam iste a placeat! Labore!</p>

</body>
</html>