<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <script src="https://kit.fontawesome.com/8b20537db2.js" crossorigin="anonymous"></script>
  </head>
<body>
    <header class="header"> <div class="header--head">
        <a href="/"><img  class="header__images--logo" alt="Logo Mercado Liebre" src="./images/logo-mercado-liebre.svg"></a>
            
        <form class="search" action="/home" method="post">
            <div class="search-box">
                <input class="search__control" type="text" name="search" id="search" placeholder=" ">
                <label class="search__label" for="search">Buscar productos, marcas y más</label>
                <button class="search-buttons__send" type="button" onclick="window.location.href='/';" ><i class="fa-solid fa-magnifying-glass"></i>
                </button>
                </div>
                
        </form>
        
        
        <p class="header--handDollarIcon-desktop"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        
            </header>
           
   
    
    <p class="header--handDollarIcon-mobile"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>

    <div class="header--menu"> <p class="burger-menu">
        <i class="fa-solid fa-bars"></i> </p>
        <nav class="header--nav">
            <ul class="header--navBar" type="none">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <hr>
            <ul class="header--loginBar" type="none">
                <li><a href="/register">Creá tu cuenta</a> <i class="fa-regular fa-id-card"></i></i></li>
                <li><a href="/login">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="#">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
            </nav> 
    
    </div>
    <main class="main">
        <img width="100%" class="main--banner" src="/images/img-home-banner.jpg" alt="" />
        <h2>Basado en tu última visita</h2>
    <section class="main--box">
    
    <article>
    <img alt="Cafetera Moulinex"   src="./images/img-cafetera-moulinex.jpg">
    
    <div class="main--box--description">
    <i class="fa-solid fa-truck"></i>
    <p class="main--box__price">$6.770</p>
    <p class="main--box__discount">40% off</p>
    </div>
    <h3>Cafetera Moulinex</h3>
    </article>

    <article>    
    <img alt="MacBook" src="./images/img-macbook-pro-2019.jpg">
    <div class="main--box--description">
    <i class="fa-solid fa-truck"></i>
    <p class="main--box__price">$230.000</p>
    <p class="main--box__discount">20% off</p>
</div>
<h3>MacBook Pro 2019</h3>
</article>

<article>
    <img alt="Samsung Galaxy" src="./images/img-samsung-galaxy-s10.jpg">
    <div class="main--box--description">
    <i class="fa-solid fa-truck"></i>
    <p class="main--box__price">$70.500</p>
    <p class="main--box__discount">10% off</p>
</div>
<h3>Samsung Galaxy S10</h3>
</article>


<article>
    <img alt="Smart Tv Samsung" src="./images/img-tv-samsung-smart.jpg">
    <div class="main--box--description">
    <i class="fa-solid fa-truck"></i>
    <p class="main--box__price">$23.200</p>
    <p class="main--box__discount">5% off</p>
</div>
<h3>SmartTv Samsung 43"</h3>
</article>

</section>

<h2>Ofertas</h2>
<section class="main--box">
    

    <article>
    <img alt="Cafetera Moulinex"   src="./images/img-cafetera-moulinex.jpg">
    <div class="main--box--description">
    <i class="fa-solid fa-truck"></i>
    <p class="main--box__price">$6.770</p>
    <p class="main--box__discount">40% off</p>
      </div>
      <h3>Cafetera Moulinex</h3>
    </article>

    <article>
        
    <img alt="MacBook" src="./images/img-macbook-pro-2019.jpg">
    <div class="main--box--description">
    <i class="fa-solid fa-truck"></i>
    <p class="main--box__price">$230.000</p>
    <p class="main--box__discount">20% off</p>

    </div>
    <h3>MacBook Pro 2019</h3>
</article>

<article>
    <img alt="Samsung Galaxy" src="./images/img-samsung-galaxy-s10.jpg">
    <div class="main--box--description">
    <i class="fa-solid fa-truck"></i>
    <p class="main--box__price">$70.500</p>
    <p class="main--box__discount">10% off</p>

    </div>
    <h3>Samsung Galaxy S10</h3>
</article>


<article>
    <img alt="Smart Tv Samsung" src="./images/img-tv-samsung-smart.jpg">
    <div class="main--box--description">
    <i class="fa-solid fa-truck"></i>
    <p class="main--box__price">$23.200</p>
    <p class="main--box__discount">5% off</p>

    </div>
    <h3>SmartTv Samsung 43"</h3>
</article>

</section>
    </main>

    <footer class="footer">
        <article class="footer--box"></article>
        <section class="footer--box--cards">
            <i class="fa-solid fa-credit-card"></i>
<h4>Pagá con tarjeta o en efectivo</h4>
<p class="footer--description">Con Mercado Liebre Cash, tenés cuotas sin interés
    con tarjeta o efectivo en puntos de pago. ¡Y
    siempre es seguro!</p>
</section>
<section class="footer--box--shipment">
    <i class="fa-solid fa-gift"></i>
    <h4>Envío gratis desde $ 2.500</h4>
    <p class="footer--description">Solo por estar registrad@ en Mercado Liebre tenés
        envíos gratis en miles de productos. Es un
        beneficio de Mercado Puntos.</p>
</section>
    <section class="footer--box--return">
        <i class="fa-solid fa-user-shield"></i>
        <h4>Seguridad, de principio a fin</h4>
    <p class="footer--box--description">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no
        hay nada que no puedas hacer, porque estás
        siempre protegid@.</p>
</section>
        <p class="footer--copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>